@page "/"
@layout Menu
<PageTitle>About</PageTitle>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="col-md-9 main container-fluid">
    <h1>CLARENCE <span>TAYLOR</span></h1>
    <p class="contact">
        3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
        <a href="mailto:name@email.com">NAME@GMAIL.COM</a>
    </p>
    <p class=contact2>
        I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative
        approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
    </p>
    <div class="social-icons mt-4">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>
</div>