@page "/Education"

<PageTitle>Education</PageTitle>
<div class="col-md-9 main container-fluid">
    <h2 class="mb-5">Education</h2>
    <div class="experience-item mb-4">
        <h4 class="pos">University of colorador boulder<span class="duration">August 2006 - May 2010</span></h4>
        <p class="com">bachelor of science</p>
        <p class="dis">Computer Science - Web Development Track</p>
        <p class="dis">GPA: 3.23</p>
    </div>
    <div class="experience-item mb-4">
        <h4 class="pos">James Buchanan High School<span class="duration">August 2002 - May 2006</span></h4>
        <p class="com">Technology Magnet Program</p>
        <p class="dis">GPA: 3.56</p>
    </div>
    </div>