@namespace thuchanh.Shared
@inherits LayoutComponentBase
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="sidebar d-flex flex-column align-items-center">
        <ul>
        <li><a target="_blank" href="https://www.facebook.com/le.macro.s.2024"><img src="https://bt-component-netcore.cybersoft.edu.vn/assets/img/profile.jpg" alt="Profile Picture"></a></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.All" aria-current="page" href="/" activeClass="active">ABOUT</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.Prefix" aria-current="page" href="/Experience" activeClass="active">EXPERIENCE</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.Prefix" aria-current="page" href="/Education" activeClass="active">EDUCATION</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.Prefix" aria-current="page" href="/Skills" activeClass="active">SKILLS</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.Prefix" aria-current="page" href="/Interest" activeClass="active">INTERESTS</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link" Match="NavLinkMatch.Prefix" aria-current="page" href="/Awards" activeClass="active">AWARDS</NavLink></li>
        </ul>
      </div>
    <div class="content col-md-9">
        @Body
    </div>
</div>
</div>
